*{
  box-sizing: border-box;
}

.button-loading{
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-image{
  width: 100%;
  aspect-ratio: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  position: relative;
  font-size: 25px;
  border-radius: 4px;
}

.empty-image img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
